<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ citeproc-php
  ~
  ~ @link        http://github.com/seboettg/citeproc-php for the source repository
  ~ @copyright   Copyright (c) 2016 Sebastian Böttger.
  ~ @license     https://opensource.org/licenses/MIT
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php">
    <php>
        <!-- -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/src/Seboettg/CiteProc</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="review/code-coverage"/>
    </logging>
</phpunit>
